*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: wheat;
    text-align: center;

}

/* .navbar{
    padding: 0 15px 0;
    background-color: #eeebdd;
}

.navbar-brand{
    padding-left: 20px;
}


.nav-item{
    padding: 0 20px 0;
} */